@page "/Cobros/Edit/{CobroId:int}"
@inject CobrosServices cobroService
@inject CobroDetallesServices cobroDetalleService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<EditForm Model="cobro" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header bg-warning text-white text-center py-2 rounded">
                <h3 style="font-weight: bold;" class="mb-0">Modificar Cobro</h3>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="Deudor" class="form-label">Deudor:</label>
                    <InputSelect @bind-Value="cobro.DeudorId" class="form-select" aria-label="DeudorId">
                        <option value="0">Selecciona un Deudor</option>
                        @foreach (var item in listaDeudores)
                        {
                            <option value="@item.DeudorId">@item.Nombres</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => cobro.DeudorId)" />
                </div>
                <div class="mb-3">
                    <label for="Fecha" class="form-label">Fecha:</label>
                    <InputDate @bind-Value="cobro.Fecha" class="form-control" />
                    <ValidationMessage For="@(() => cobro.Fecha)" />
                </div>
                <div class="mb-3">
                    <label for="Monto" class="form-label">Monto:</label>
                    <InputNumber @bind-Value="cobro.Monto" class="form-control" />
                    <ValidationMessage For="@(() => cobro.Monto)" />
                </div>

                @if (existe)
                {
                    <div class="alert alert-danger" role="alert">
                        Ya existe un Cobro con esa descripción
                    </div>
                }
                @if (guardo)
                {
                    <p class="text-success">
                        El Cobro se guardó exitosamente
                    </p>
                }
                @if (elimino)
                {
                    <p class="text-success">
                        El Cobro se eliminó exitosamente
                    </p>
                }

                <div class="card-header mt-4">
                    <h3>Registrar Cobro Detalle</h3>
                </div>

                <div class="row mb-3">
                    <div class="col-md-5">
                        <label for="Prestamo" class="form-label">Préstamo:</label>
                        <InputSelect @bind-Value="cobroDetalle.PrestamoId" class="form-select" aria-label="PrestamoId">
                            <option value="0">Selecciona un Concepto</option>
                            @foreach (var item in listaPrestamo)
                            {
                                <option value="@item.PrestamoId">@item.Concepto</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => cobroDetalle.PrestamoId)" />
                    </div>

                    <div class="col-md-5">
                        <label for="ValorCobrado" class="form-label">Valor Cobrado:</label>
                        <InputNumber @bind-Value="cobroDetalle.ValorCobrado" class="form-control" />
                        <ValidationMessage For="@(() => cobroDetalle.ValorCobrado)" />
                    </div>

                    <div class="col-md-2 d-flex align-items-end">
                        <button type="button" class="btn btn-primary" @onclick="GuardarDetalle">
                            <span class="bi bi-plus-square"></span> Agregar
                        </button>
                    </div>
                </div>

                <table class="table table-bordered text-center mt-4">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th>DetalleId</th>
                            <th>PréstamoId</th>
                            <th>Concepto</th>
                            <th>Valor Cobrado</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var detalle in listaCobroDetalle)
                        {
                            <tr>
                                <td>@detalle.DetalleId</td>
                                <td>@detalle.PrestamoId</td>
                                <td>@detalle.Prestamo.Concepto</td>
                                <td>@detalle.ValorCobrado.ToString("C")</td>
                                <td>
                                    <button @onclick="() => EliminarDetalle(detalle.DetalleId)"
                                            class="btn btn-outline-danger">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card-footer bg-light d-flex justify-content-center mt-3">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" @onclick="Nuevo">
                <span class="bi bi-floppy"></span> Nuevo
            </button>
            <button type="button" class="btn btn-primary" @onclick="async () => await Guardar()">
                <span>Guardar <i class="bi bi-floppy" /></span>
            </button>
            <a href="/Cobro/Index" class="btn btn-primary">
                <span>Volver</span> <i class="bi bi-arrow-left" />
            </a>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int CobroId { get; set; }
    public Cobros cobro { get; set; } = new Cobros();
    public CobrosDetalle cobroDetalle { get; set; } = new CobrosDetalle();
    public bool existe { get; set; } = false;
    public bool guardo { get; set; } = false;
    public bool elimino { get; set; } = false;
    public List<Deudores> listaDeudores { get; set; } = new List<Deudores>();
    public List<CobrosDetalle> listaCobroDetalle { get; set; } = new List<CobrosDetalle>();
    public List<Prestamos> listaPrestamo { get; set; } = new List<Prestamos>();

    protected override async Task OnInitializedAsync()
    {
        listaDeudores = await cobroService.ObtenerDeudores();
        listaPrestamo = await cobroService.ObtenerPrestamos();
        listaCobroDetalle = await cobroDetalleService.Listar(c => true);
        if (CobroId > 0)
        {
            cobro.CobroId = CobroId;
            await Buscar();
        }
    }

    public async Task Buscar()
    {
        var encontrado = await cobroService.Buscar(cobro.CobroId);
        if (encontrado != null)
            cobro = encontrado;
    }

    public async Task Guardar()
    {
        if (await Validar())
            return;

        await cobroService.Guardar(cobro);
        guardo = true;
        Nuevo();
    }

    public async Task GuardarDetalle()
    {
        if (await ValidarDetalle())
            return;

        await cobroDetalleService.Guardar(cobroDetalle);
        guardo = true;
        cobroDetalle = new CobrosDetalle();
    }

    public void Nuevo()
    {
        cobro = new Cobros();
        cobroDetalle = new CobrosDetalle();
        listaCobroDetalle = new List<CobrosDetalle>(); 
    }

    public async Task<bool> Validar()
    {
        var cobroExistente = await cobroService.Listar(c => c.CobroId == cobro.CobroId);
        existe = cobroExistente.Any();
        return existe;
    }

    public async Task<bool> ValidarDetalle()
    {
        return false;
    }

    public async Task EliminarDetalle(int detalleId)
    {
        var elimino = await cobroDetalleService.Eliminar(detalleId);
        if (elimino)
        {
            listaCobroDetalle = await cobroDetalleService.Listar(c => true);
            StateHasChanged();
        }
    }
}
